#ABC{
    background-color: white;
    height: 100%;
    position: default;
    top: 0;
    left: 0;
    width: 100%;
}
body{
    background: rgb(46, 2, 116);
    height: 100%;
}
.body-text{
    color: rgb(171, 166, 166)
}
.titles{
    color: white;
    font: 1.2em "Fira Sans", sans-serif;
    text-align: center;
    font-size: xx-large;
}
.personal_details_titles{
    color: rgb(152, 101, 6);
    font-family: Tahoma, sans-serif;
    text-align: left;
    margin: 25px;
    font-size: xx-large;
}
.menu_links{
    color: rgb(221, 215, 215);
    display: flex;
    justify-content: space-evenly;
    font-family: Tahoma;
    font-size: xx-large;
    margin-bottom: 10px;
}
.social_media{
    color: rgb(190, 184, 184);
    font: 1.2em "Fira Sans", sans-serif;
    font-size: x-large;
    text-align: center;
}
img{
    border-radius: 20%;
    text-align: center;
}
.grow:hover{ 
    transform: scale(1.2);
}
.grow{ 
    transition: all .2s ease-in-out; 
}
input[type=text], select, textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(47, 209, 245);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 18px;
    resize: vertical;
    color: black;
}
.shrink{
    transition: all .2s ease-in-out;
    color: rgb(167, 162, 162);
    font: 1.2em "Fira Sans", sans-serif;
    text-align: center;
    font-size: xx-large; 
}
.shrink:hover{ 
    transform: scale(0.9); 
}
.body_text{
    color: rgb(171, 165, 165);
    font: 1.2em "Fira Sans", sans-serif;
    text-align: left;
    font-size: small;
    margin: 20px;
}
.fa{
    padding: 40px;
    font-size: 60px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-bottom: 10px;
  }
.fa:hover{
    opacity: 0.7;
    margin-bottom: 10px;
    text-align: center;
}
.fa-facebook{
  background: #3B5998;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.fa-linkedin{
  background: #007bb5;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.fa-instagram{
  background: #125688;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.fa-pinterest{
  background: #cb2027;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.title{
    color: rgb(160, 124, 3);
    font: 1.2em "Fira Sans", sans-serif;
    text-align: center;
    font-size: 400%
}

.email_me{
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 600px){
    .email_me{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .body_text{
        margin-left: auto;
        margin-right: auto;
    }
    .personal_details_titles
    {
        margin-left: auto;
        margin-right: auto;
    }
}